{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<section class="section-gap-extra-bottom bg_with_image">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-8 col-sm-12 mx-auto tw-bg-white tw-shadow-lg tw-rounded-md md:tw-px-16 tw-p-8">

        <form id="contactForm" action="{% url 'account_login' %}" name="contactForm" method="post" class="md:tw-px-6" novalidate>
          {% csrf_token %}
          <div class=" tw-border-gray-300 tw-mb-4">
            <h2 class="tw-mb-4 tw-text-2xl tw-text-center tw-text-gray-600">Sign In</h2>
          </div>

          <div class="form-floating tw-mb-5">
            {% render_field form.login class="form-control" placeholder="Email" %}
            <label for="email" class="tw-text-sm tw-text-gray-400">Email</label>
            <p class="tw-text-red-500">{{ form.errors.login}}</p>

          </div>
          <div class="form-floating wrapper">
            {% render_field form.password class="form-control" placeholder="Password" id="pass" %}
            <span class="show-btn"><i class="fas fa-eye"></i></span>
            <label for="password" class="tw-text-sm tw-text-gray-400">Password</label>
            <p class="tw-text-red-500">{{ form.errors.password}}</p>

          </div>
          
          <div class="tw-flex tw-justify-end tw-w-full tw-mt-2"><a href="{% url 'account_reset_password' %}"
            class="tw-text-sm">Forgot Password?</a></div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class="tw-flex tw-justify-around tw-items-center mt-3">
            <hr class="tw-bg-gray-100 tw-w-full" />
            <div class="tw-w-full tw-text-gray-400 tw-text-center log tw-text-sm">Sign In with</div>
            <hr class="tw-bg-gray-100 tw-w-full" />
          </div>

          <div class="form-icon tw-flex tw-items-center tw-justify-center tw-mt-2 tw-mb-8">
            <a href="#"><img src="{% static 'assets/img/gmail.png' %}" class="tw-h-8 tw-mx-3"></a>
            <a href="#"><img src="{% static 'assets/img/fbook.png' %}" class="tw-h-8"></a>
          </div>
          <div class="col-lg-12">
            <div class="form-field form-group">
              <button type="submit" class="button ">Login <i class="fa-solid fa-right-long"></i>
              </button>
              <div id="msgSubmit" class="hidden"></div>
            </div>
          </div>
          <div class="tw-text-center tw-text-sm">Don't have an account? <a href="{% url 'users:register' %}" class="tw-text-secondary">Sign Up</a>
          </div>
      </div>
      </form>
    </div>
  </div>
  </div>
</section>

{% endblock content %}


{% block js %}
<script>
    const passField = document.querySelector("#pass");
    const showBtn = document.querySelector("span i");
    showBtn.onclick = (()=>{
      if(passField.type === "password"){
        passField.type = "text";
        showBtn.classList.add("hide-btn");
      }else{
        passField.type = "password";
        showBtn.classList.remove("hide-btn");
      }
    });

    
  </script>
{% endblock js %}