{% extends "base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    <section class="section-gap-extra-bottom bg_with_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12 mx-auto tw-bg-white tw-shadow-lg tw-rounded-md md:tw-px-16 tw-p-8">
                    
                    
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
    {% if form %}
    <form id="contactForm" action="" name="contactForm" method="post" class="md:tw-px-6" novalidate>
        {% csrf_token %}
        <div class=" tw-border-gray-300 tw-mb-4">
            <h2 class="tw-mb-4 tw-text-2xl tw-text-center tw-text-gray-600">Set Password</h2>
        </div>
        <label for="new_password"
            class="tw-block tw-text-sm tw-text-gray-500 tw-mb-1 tw-dark:text-gray-200">New Password</label>
        <div class="form-field form-group mb-15 mb-3">
            {% render_field form.password1  class="input tw-rounded-md tw-border-gray-300" placeholder="" %}
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-field form-group mb-15 mb-3">
            <label for="confirm_new_password"
                class="tw-block tw-text-sm tw-text-gray-500 tw-mb-1 tw-dark:text-gray-200">New Password(agin)</label>
                {% render_field form.password2  class="input tw-rounded-md tw-border-gray-300" placeholder="" %}
            <div class="help-block with-errors"></div>
        </div>

        <div class="tw-w-full">
            <div class="form-field form-group">
                <button type="submit" class="button ">Change Password <i class="fa-solid fa-right-long"></i>
                </button>
            </div>
        </div>
</div>
</form>
    {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
{% endif %}





            </div>
        </div>
        </div>
    </section>


{% endblock %}
