{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="section-gap-extra-bottom bg_with_image">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12 mx-auto tw-bg-white tw-shadow-lg tw-rounded-md md:tw-px-16 tw-p-8">

                <form id="contactForm" action="" name="contactForm" method="post" class="md:tw-px-6">
                    <div class=" tw-border-gray-300 tw-mb-4">
                        <h2 class="tw-mb-4 tw-text-2xl tw-text-center tw-text-gray-600">Reset Password</h2>

                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                    </div>
                    <p class="tw-text-sm tw-mb-5 tw-text-gray-500">Forgotten your password? Enter your e-mail address
                        below.</p>
                    <label for="email"
                        class="tw-block tw-text-sm tw-text-gray-500 tw-mb-1 tw-dark:text-gray-200">Email</label>
                    <div class="form-field form-group mb-15">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {% render_field form.email class="input tw-rounded-md tw-border-gray-300" %}
                            <div class="tw-mt-4">
                                <button type="submit" class="button ">{% trans 'Reset My Password' %}<i
                                        class="fa-solid fa-right-long"></i>
                                </button>
                            </div>
                        </form>
                    </div>

            </div>


            </form>
        </div>
    </div>
    </div>
</section>

{% endblock %}